input{outline:none;}
#zoom{
	position: relative;
	width:100%;
}
.seat_map{
	width:100%;
	position: relative;
}
.select_item{
	display:block;
	position: absolute;
}
.start_on{
	border : 1px solid #ff6353;
}
.start_end{
	border : 1px solid #3998f6;
}

#search_bar{
	display:-webkit-box;
	height:40px;
	line-height: 40px;
	width:100%;
	position:relative;
	padding-bottom: 6px;
}
#search_bar .pos_point{
	display:block;
	width:68%;
	height:16px;
	background:#fff;
	border:1px solid #ccc;
	padding:5px;
	margin:6px 0 0 5px;
}
#search_bar .start_point{
	padding:2px 10px 2px 22px;
	background:#ff6353;
	color: #fff;
	position:absolute;
	top:6px; 
	right:80px;
	height:24px;
	line-height: 24px;
	cursor:pointer;
}
#search_bar .start_point:before{
	content:'';
	position:absolute;
	top:5px;
	left:5px;
	width:20px;
	height:20px;
	background:url(../UploadFile/seat.png) no-repeat 0 0;
	background-size:12px;
}
#search_bar .end_point{
	padding:2px 10px 2px 22px;
	background:#3998f6;
	color: #fff;
	position:absolute;
	top:6px; 
	right:20px;
	height:24px;
	line-height: 24px;
	cursor:pointer;
}
#search_bar .end_point:before{
	content:'';
	position:absolute;
	top:5px;
	left:5px;
	width:20px;
	height:20px;
	background:url(../UploadFile/seat.png) no-repeat 0 -51px;
	background-size:12px;
}
.start_on .pos_icon,.start_end .pos_icon{
	padding:5px;
	position: relative;
	top:-22px;
	left:-3px;
	z-index: 9999;
}
.start_end .pos_icon{
	top:-24px;
	left:-4px;
}
.start_on .pos_icon i,.start_end .pos_icon i{
	display: block;
	width:20px;
	height: 30px;
	background:url(../UploadFile/seat.png) no-repeat 0 -30px;
	background-size:16px;
	position: absolute;
	top:0;
	left: 0;
}
.start_on .pos_icon em,.start_end .pos_icon em{
	padding:5px 10px;
	background:#ff6353;
	position: absolute;
	top:0;
	left:20px;
	min-width: 120px;
	color:#fff;
	border:1px solid #ccc;
	border-radius: 3px;
	z-index: 9999;
}
.start_end .pos_icon i{
	background-position:0 -112px;
	background-size:18px;
}
.start_end .pos_icon em{
	background:#3998f6;
}
.booth_map{
	position: relative;
}
.booth_map .footer{
	width:100%;
	height:40px;
	line-height: 40px;	
}
.booth_map .footer p{
	text-align: center;
}
.booth_map .aerial_view img{
	max-width: 100%;
}
.booth_map .venues{
	position: absolute;
	top:30%;
	right: 2px;
}
.booth_map .venues a{
	display: block;
	padding:6px;
	margin:5px;
	background: rgba(0,0,0,.8);
	color:#fff;
	letter-spacing: 1px;
	cursor: pointer;
}
.booth_map .venues a.on{
	background: rgba(255,62,42,.8);
}

@media all and (min-width: 736px){
	#search_bar .pos_point{
		width:80%;
	}
    
}